<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Daily Challenge Hub</title>
  <link rel="shortcut icon" href="/assets/img/controller.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>


  <header class="dashboardHeader">

  </header>

  <input type="hidden" id="_csrf" name="_csrf" value="{{csrfToken}}" />

  <main id="app"></main>


  <div class="errorWrapper">
    <span id="errorMessage" class="hidden"></span>
  </div>


  <nav><a href="/player"><img id="logo" src="/assets/img/controller.png" alt="controller logo" /></a>
    <div class="navlink"><a id="logoutButton" href="/logout">Log Out</a></div>
    <div class="navlink">
      <button id="premiumButton">
        Upgrade to Premium
      </button>
    </div>
  </nav>
  <script src="/assets/playerBundle.js"></script>
</body>

</html>