<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Daily Challenge Hub</title>
  <link rel="shortcut icon" href="/assets/img/controller.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <nav class="mainNav">
    <a href="/app">
      <img id="logo" src="/assets/img/controller.png" alt="controller logo" />
    </a>

    <div class="navLinks">
      <a href="/leaderboard">Leaderboard</a>

      <button id="premiumBtn" class="premiumBtn">
        Upgrade to Premium
      </button>

      <a href="/logout">Log out</a>
    </div>
  </nav>


  <header class="dashboardHeader">
    <h1 id="greeting">Welcome back!</h1>
    <p id="subGreeting">Choose a game to start playing</p>
  </header>


  <main id="app"></main>


  <div class="errorWrapper">
    <span id="errorMessage" class="hidden"></span>
  </div>


  <footer class="bottomNav">
    <a href="/app">Home</a>
    <a href="/leaderboard">Leaderboard</a>
    <a href="/logout">Logout</a>
  </footer>

  <script src="/assets/appBundle.js"></script>
</body>

</html>