<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Daily Challenge Hub</title>
  <link rel="shortcut icon" href="/assets/img/controller.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  


  <header class="dashboardHeader">
    <h1 id="greeting">Welcome back!</h1>
    <p id="subGreeting">Choose a game to start playing</p>
  </header>


  <main id="app"></main>


  <div class="errorWrapper">
    <span id="errorMessage" class="hidden"></span>
  </div>


<nav><a href="/app"><img id="logo" src="/assets/img/controller.png" alt="controller logo"/></a>
    <div class="navlink"><a id="logoutButton" href="/logout">Log Out</a></div>
    <div class="navlink"><a id="leaderboardButton" href="/leaderboard">Leaderboard</a></div>
    <button class="navlink" id="premiumButton" href="/upgrade">
        Upgrade to Premium
      </button>
  </nav>
  <script src="/assets/appBundle.js"></script>
</body>

</html>